/*跳转提示*/
.framecenter {margin: 0 auto;height: 200px;}
.messicon {height: 48px;padding-right: 10px;}
.fontsize14 {font-size: 14px;}
.strong {font-weight: bold;}
.messtext {height: 48px;line-height: 48px;vertical-align: middle;}
.em {color: #c00;font-style: normal;font-weight: bold;margin-left: 5px;margin-right: 5px;text-decoration: underline;}
input.buttonface2 {background: rgba(0, 0, 0, 0) url("../images/botton_bg.jpg") no-repeat scroll 0 -48px;border: 0 none;color: #fff;cursor: pointer;font-weight: bold;height: 24px;line-height: 24px;margin: 0;padding: 0;width: 120px;}
.center {text-align: center;}