@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-07-08 16:27:16
 * @version $Id$
 */


.member{
	background: #f8f8f8;
	padding-top: 15px;
	padding-bottom: 80px;
}


.member_box{

}

/*会员中心左侧导航*/
.member_Nav{
	background: #fff;
	box-shadow: 5px 5px 5px #e7e7e7;
}
.member_Nav h3{
	background: #ee6f15;
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
	margin-bottom: 15px;
}
.member_Nav dl dt{
	height: 28px;
	line-height: 28px;
	padding-left: 30px;
	font-size: 12px;
	color: #5e5e5e;
	font-weight: 600;
}
.member_Nav dl dd{
	padding-left: 40px;
	font-size: 12px;
	padding: 5px 0 5px 40px;
}
.member_Nav dl dd a{
	height: 28px;
	line-height: 28px;
	display: block;
	color: #666666;
	padding-left: 15px;
}
.member_Nav dl dd a:hover{
	background: url('../images/arrow_right.png') 0 11px no-repeat;
	color: #ee6f15;
}

.member_Nav dl dd a.cur{
	background: url('../images/arrow_right.png') 0 11px no-repeat;
	color: #ee6f15;
}

.message_icon{
	background:#eaeaea url('../images/message_icon.png') 10px 9px no-repeat;
}
.pig_icon{
	background:#eaeaea url('../images/pig_icon.png') 10px 7px no-repeat;
}
.money_icon{
	background:#eaeaea url('../images/money_icon.png') 10px 6px no-repeat;
}
.product_icon{
	background:#eaeaea url('../images/product_icon.png') 10px 8px no-repeat;
}
.service_icon{
	background:#eaeaea url('../images/service_icon.png') 10px 6px no-repeat;
}
.my_message{
	background: #eaeaea url('../images/messige_icon02.png') 10px 8px no-repeat;
}
.feedback img{
	display: block;
	margin-top: 10px;
}

.report_icon{
	background:#eaeaea url('../images/report_icon.png') 10px 6px no-repeat;
}

/*会员中心左侧导航 end*/


.member_right{
	padding: 15px 5px 0 5px;
}
.member_crumb{
	font-size: 12px;
	color: #616161;
	height: 20px;
	line-height: 20px;
	margin-bottom: 15px;
}
.member_crumb a{
	color: #616161;
}
.member_crumb a:hover{
	color: #ee6f15
}

.member_right_content{
	padding: 10px 15px 15px 15px;
}

.member_right_content h3{
	color: #ee6f15;
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ee6f15;
	font-weight: normal;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 32px;
	font-weight: 600;
}
.member_right_content h3 span{
	float: left;
}

a.submit_equity{
	float: right;
	height: 32px;
	width: 85px;
	display: block;
	border-radius: 3px;
	background: #ee6f15 url('../images/submmit_icon.png') 5px 5px no-repeat;
	line-height: 32px;
	color: #fff;
	font-size: 12px;
	padding-left: 33px;
	font-weight: 600;
}

.search{
	margin-bottom: 25px;
	padding-top: 20px;
}
.search label{
	float: left;
	line-height: 26px;
	font-size: 12px;
	color: #666666;
	font-weight: 600;
}
.search select{
	float: left;
	padding: 0 5px;
	height: 26px;
	font-size: 12px;
	color: #666;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
}

.search input{
	height: 24px;
	border:1px solid #d2d2d2;
	border-radius: 3px;
	line-height: 24px;
	float: left;
	font-size: 12px;
	padding: 0 10px;
	color: #666;
	margin: 0 10px;
}
a.search_btn{
	background: #ee6f15;
	height: 24px;
	line-height: 24px;
	border: 1px solid #d36516;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	padding: 0 10px;
	float: left;
	display: block;
}

.member_tabhd{
	background: #c7c7c7;
	height: 33px;
	position: relative;
	padding-left: 10px;
}
.member_tabhd ul{
	height: 60px;
	position: absolute;
	left: 10px;
	top: -5px;

}
.member_tabhd ul li{
	float: left;
	height: 39px;
	padding-top: 5px;
	width: 145px;
	background: url('../images/member_tabhd_bg.jpg') no-repeat;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 29px;
	cursor: pointer;
	margin-right: 5px;
}
.member_tabhd ul li i{
	width: 7px;
	height: 7px;
	display: inline-block;
	background: url('../images/yuan.png') no-repeat;
	margin-right: 10px;
}
.member_tabhd ul li.cur{
	background: url('../images/member_tabhd_bg_cur.jpg') no-repeat;
	height: 61px;
}
.member_tabhd ul li:hover{
	background: url('../images/member_tabhd_bg_cur.jpg') no-repeat;
	height: 61px;
}

.member_tabbd{
	padding-top: 40px;
	padding-bottom: 50px;
}
.member_tabbd table{
	border:1px solid #e6e5e5;
	border-bottom: 0;
	width: 100%;
}
.member_tabbd table th{
	height: 29px;
	border-bottom: 1px solid #5a5a5a;
	border-right: 1px solid #fff;
	font-size: 12px;
	text-align: center;
	color: #5a5a5a;
	background: #ebebeb;
}
.member_tabbd table th.last{
	border-right: 0;
}
.member_tabbd table td{
	padding: 5px;
	text-align: center;
	font-size: 12px;
	color: #5d5c5c;
	border-bottom: 1px solid #e6e5e5;
	border-right: 1px solid #e6e5e5;
	line-height: 22px;
}
.member_tabbd table td.last{
	border-right: 0
}
.member_tabbd table td a{
	color: #b2060c;
}
.member_tabbd table td a:hover{
	color: #ff372e
}
.member_tabbd table td a.return_btn{
	background: url('../images/magnifier.jpg') center right no-repeat;
	padding-right: 15px;
}
.member_tabbd table td a.edit_btn{
	color: #5d5c5c;
}
.member_right_content h4{
	color: #ee6f15;
	font-size: 18px;
	padding-bottom: 10px;
	font-weight: normal;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 32px;
}
.member_right_content h4 span{
	float: left;
}
.equity_tanhd{
	height: 35px;
}
.equity_tanhd ul{
	height: 35px;
}
.equity_tanhd ul li{
	border-right: 1px solid #e4e4e4;
	height: 34px;
	text-align: center;
	font-size: 14px;
	color: #999;
	width: 176px;
	float: left;
	line-height: 34px;
	cursor: pointer;
	border-bottom: 1px solid #e4e4e4;
}
.one{
	border-top: 2px solid #e80012;
}
.two{
	border-top: 2px solid #3a92cf;
}
.three{
	border-top: 2px solid #e79d18;
}
.equity_tanhd ul li.first{
	width: 175px;
	border-left: 1px solid #e4e4e4;
}
.equity_tanhd ul li.cur{
	color: #e80012
}
.equity_tanbd table{
	font-size: 14px;
	width: 100%
}
.equity_tanbd table th{
	background: #b8b8b8;
	height: 32px;
	text-align: center;
	color: #fff;
	line-height: 32px;
}
.equity_tanbd table td{
	padding: 10px 0;
	border-bottom: 1px solid #eae8e8;
}
.equity_tanbd table td img{
	float: left;
	display: block;
	margin-right: 10px;
}
.equity_tanbd table td p{
	margin-top: 10px;
}
.title a{
	color:#676767;
}

.equity_tanbd table td p span{
	margin-right: 10px;
}
.member_icon{
	background: url('../images/media_icon01.png') no-repeat;
	padding-left: 25px;
}
.member_icon2{
	background: url('../images/media_icon02.png') no-repeat;
	padding-left: 25px;
}
.member_icon3{
	background: url('../images/map_icon.png') no-repeat;
	padding-left: 15px;
}
.state{
	color: #ee6f15
}

.equity_tanbd table td a{
	display: block;
	color: #676767;
	margin-bottom: 10px;
}
.equity_tanbd table td a.shenhe_btn{
	width:80px;
	height: 29px;
	border-radius: 3px;
	color: #fff;
	background: #ef5b51 url('../images/shenhe_icon.png') 10px 9px no-repeat;
	line-height: 29px;
	padding-left: 20px;
	margin-bottom: 10px;
}
.equity_tanbd table td a.stop{
	color: #c90e19;
}


/*密码修改*/
.password_change{
	border: 1px solid #e9e9e9;
	padding: 10px 10px 0 15px;
	min-height: 580px;
}

.password_list{
	margin-top: 25px;
}
.password_list li{
	height: 30px;
	margin-bottom: 15px;
}
.password_list li label{
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #666666;
	text-align: right;
}
.password_list li input{
	height: 28px;
	float: left;
	line-height: 28px;
	border: 1px solid #cccccc;
	padding: 0 10px;
	font-size: 12px;
	color: #666;
	width: 230px;
	outline: none;
}
.changePassword_btn{
	width: 188px;
	height: 46px;
	display: block;
	background: #eb5658;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	line-height: 46px;
	margin: 30px 0 0 100px;
	border-radius: 5px;
        border: none;
}
.changePassword_btn:hover{
	background: #ff8c8e
}
a.loan_guide{
	display: block;
	width: 98px;
	height: 21px;
	background: url('../images/loan_guide.png') no-repeat;
	float: right;
}
.member_tabbd table th.downArrow_icon{
	background:#ebebeb url('../images/downArrow_icon.png') 85% center no-repeat;
}

.member_tabbd table td img{
	float: left;
	margin-left: 20px;
	display: inline-block;
}


/*弹出层*/
.popup{
	width: 380px;
	background: #fff;
	position: fixed;
	display: none;
	z-index: 100;
}
.close-order-popup{
	height: 205px;
}
.arrow-popup{
	width: 18px;
	height: 9px;
	float: right;
	background: url('../images/arrow.png') no-repeat;
	margin-top: -8px;
	margin-right: 30px;
}
.close-order-popup .popup-content{
	height: 126px;
}
.popup-content{
	width: 378px;
	border: 1px solid #c0c0c0;
	background: #fff;
	box-shadow: 2px 2px 2px #e1e1e1;
	padding-bottom: 10px;
}
.popup-content h3{
	float: left;
	color: #a45f22;
	font-size: 12px;
	font-weight: normal;
	height: 18px;
	line-height: 18px;
	padding-bottom: 0;
	border-bottom: 0;
	margin-top: 7px;
	margin-left: 10px;
}
.close-popup{
	float: right;
	width: 19px;
	height: 18px;
	display: block;
	background: url('../images/close_btn.jpg') no-repeat;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 7px;
}
.reason{
	width: 358px;
	height: 80px;
	line-height: 160%;
	font-size: 12px;
	color: #999;
	resize:none;
}
.confrim-area{
	background: #f5f5f5;
	height: 50px;
	width: 378px;
	border: 1px solid #c0c0c0;
	border-top: 0;
	box-shadow: 2px 2px 2px #e1e1e1;
}
.member_tabbd table td .confrim-area a{
	display: inline-block;
	width: 81px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	background: #b60b0b;
	border-radius: 3px;
	text-align: center;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.comment-popup{
	height: 285px;
}
.comment-popup .popup-content{
	height: 219px;
}
.comment-area{
	border-bottom: 1px dashed #d9d9d9;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.comment-area div{
	font-size: 14px;
	height: 14px;
	color: #9c9c9c;
	margin-bottom:3px;
	height: 20px;
	line-height: 20px;
}
.comment-area div span{
	float: left
}


.comment-remind{
	font-size: 12px;
	 color: #666
}
.comment-remind p{
	float: right;
}
.comment-remind em{
	float: left;
	font-style: normal;
}
.comment-remind em span{
	color: #ee6f15;
	font-size: 14px;
}
.popup-content-title{
	background: #fff0e6;
	height: 32px;
	border-bottom: 1px solid #d0cece;
	margin-bottom: 10px;
}


/*修改密码*/
.password_change h3{
	font-size: 20px;
	color: #ed7556;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ed7556
}

.old_number{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #666;
	float: left;
}
.password_list li input.vode{
	width: 80px;
}
.password_list li input.newvode{
	width: 130px;
}
.password_list li a.getCode{
	padding: 0 10px;
	height: 30px;
	background: #ee6f15;
	border-radius:3px;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 12px;
	line-height: 30px;
	float: left;
	margin-left: 10px;
}
.password_list li a.getCode:hover{
	background: #fdbc8e
}
.code_img{
	float: left;
	margin-left: 10px;
}
.password_list li a.change-code{
	color: #6e1312;
	line-height: 30px;
	font-size: 12px;
	float: left;
	margin-left: 10px;
}

.password_box{
	background: #fff;
	padding: 0;
}

.product_box{
	background: #fff;
	padding: 0;
	border:1px solid #e9e9e9;
}

.page{
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.page a{
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #c4c4c4;
	font-size: 12px;
	margin-right: 5px;
	border:1px solid #d4d4d4;
	background: #ffffff
}
.page a.prev{
	width: 55px;
}
.page a.next{
	width: 55px;
}

.page a.prev_none{
	background: #eaeaea;
	cursor: default;
}
.page a.next_none{
	background: #eaeaea;
	cursor: default;
}
.page a:hover{
	color: #fff;
	background: #ee6f15
}
.page a.cur{
	color: #fff;
	background: #ee6f15
}
.page a.prev_none:hover{
	background: #eaeaea;
	cursor: default;
	color: #c4c4c4;
}
.page a.next_none:hover{
	background: #eaeaea;
	cursor: default;
	color: #c4c4c4
}
.page a.end{
	width: 45px;
}

.return_reason{
	line-height: 160%;
	font-size: 12px;
	color: #666;
	padding: 0 10px;
	text-align: left;
}
.return_reason_popup .popup-content{
	height: 193px;
}

.pass_popup{
	background: url('../images/pass_popup.png') repeat;
	width: 353px;
	height: 140px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -175px;
	display: none;
}
.pass_popup h5{
	font-size: 20px;
	color: #fff;
	clear: both;
	margin-bottom: 20px;
	text-align: center;
}
.pass_popup a.confrim_pass{
	width: 108px;
	height: 37px;
	display: inline-block;
	background: #ebebeb;
	color: #950000;
	font-size: 18px;
	line-height: 37px;
	border-radius: 5px;
	margin:0 20px;
	text-align: center;
}
.pass_popup a.cancel_pass{
	width: 108px;
	height: 37px;
	display: inline-block;
	background: #b60b0b;
	color: #fff;
	font-size: 18px;
	line-height: 37px;
	border-radius: 5px;
	margin:0 20px;
	text-align: center;
}
.stop_reason_popup .popup-content{
	height: 193px;
}

/*贷款详情*/
.scroll_nav{
	height: 40px;
	width:100%;
	margin-bottom: 25px;
}
.scroll_nav li{
	float: left;
	height: 40px;
	border-right: 1px solid #fff;
	width: 125px;
	background: #e1dfdf;
	font-size: 14px;
	color: #666;
	text-align: center;
	line-height: 40px;
}
.scroll_nav li a{
	display: block;
	color: #666
}
.scroll_nav li.cur{
	background: #ee6f15;
}
.scroll_nav li.cur a{
	color: #fff;
}

.message_label{
	border-bottom: 1px dashed #ed7556;
	margin-bottom: 20px;
}

.daikuan_title{
	border-bottom: 1px solid #eae8e8;
	padding-bottom:15px;
	font-size: 18px;
	color: #666666;
	padding-left: 45px;
}
.one_title{
	background: url('../images/company_icon.png') 10px 0 no-repeat;
}
.message_label_list{
	padding: 10px 0 20px 0;
}
.message_label_list li{
	width: 100%;
	height: 38px;
	line-height: 38px;
	float: left;
	font-size: 12px;
	margin-bottom: 15px;
}
.message_label_list li label{
	display: block;
	width: 140px;/*2015-9-6*/
	height: 38px;
	line-height: 38px;
	color: #666666;
	text-align: right;
	float: left;
}
.message_label_list li label i{
	color: #920000;
	margin-right: 5px;
}
.message_label_list li p{
	float: left;
	line-height: 38px;
	color: #666
}
.message_label_list li input{
	float: left;
	height: 28px;/*8-26修改*/
	border:1px solid #cccccc;
	line-height: 28px;
	font-size: 12px;
	color: #666666;
	padding: 0 10px;
	outline: none;
	margin-top: 4px;
	margin-right: 5px;
	width: 220px;
}
.message_label_list li select{
	float: left;
	height: 28px;
	border:1px solid #cccccc;
	line-height: 28px;
	font-size: 12px;
	color: #666666;/*8-20 add*/
	outline: none;
	margin-top: 4px;
	margin-right: 5px;
	width: 243px;
}
.w145{
	width: 145px;
}
.w200{
	width: 200px;
}
.message_label_list li em{
	color: #d7d7d7;
	font-style: normal;
	clear: both;
	display: block;
	margin-top: -15px;
	float: left;
	margin-left: 140px;/*2015-9-6*/
}

.two_title{
	background: url('../images/project_icon.png') 10px 0 no-repeat;
}

.danbao_box{
	padding: 25px 0 40px 0;
}
.danbao_box ul{
	height: 34px;/*8-20 add*/
}
.danbao_box ul li{
	float: left;
	height: 34px;/*8-20 add*/
	line-height: 34px;
	font-size: 12px;
	color: #666666;
	width: 14%;
	text-align: center;
}
.danbao_box ul li input{
	height: 20px;
	border:1px solid #cccccc;
	line-height: 20px;
	font-size: 12px;
	color: #666666;
	outline: none;
	margin-top: 8px;
	margin:0 5px;
	text-align: center;
	width: 50px;
}

.three_title{
	background: url('../images/financing_icon.png') 10px 0 no-repeat;
}

.four_title{
	background: url('../images/four_icon.png') 10px 0 no-repeat;
}
.five_title{
	background: url('../images/five_icon.png') 10px 0 no-repeat;
}
.six_title{
	background: url('../images/six_icon.png') 10px 0 no-repeat;
}
.six_title span{
	font-size: 12px;
	color: #a1a1a1;
	width: 505px;
	display: inline-block;
	margin-left: 20px;
}
.six_title p{
	float: left;
}

.update_list{
	border-bottom: 1px solid #eae8e8;
	padding:30px 0 15px 65px;
}

.update_list li{
	float: left;
	font-size: 12px;
	color: #666;
	margin-right: 30px;
}
.update_list li p{
	line-height: 22px;
	margin-bottom: 5px;
}
.update_list li i{
	color: #920000;
	margin-right: 5px;
}
.update_list li em{
	font-style: normal;
	display: block;
}
.update_list li em span{
	color: #a1a1a1;
	margin-left:3px;
}
a.reload_btn{
	background: #ee6f15 url('../images/reload_icon.png') 40px center no-repeat;
	color: #fff;
	font-size: 12px;
	padding: 3px 20px 3px 15px;
	display: inline-block;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
a.delete_update{
	height: 11px;
	width: 11px;
	display: inline-block;
	background: url('../images/delete_update.jpg') no-repeat;
	float: right;
	margin-top: 4px;
	margin-left: 3px;
}
a.update_btn{
	background: #ee6f15 url('../images/update_icon02.png') 40px center no-repeat;
	color: #fff;
	font-size: 12px;
	padding: 3px 20px 3px 15px;
	display: inline-block;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
.scroll_position{
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -285px;
}

.btn_area{
	text-align: center;
	padding:20px 0 40px 0;
}
.btn_area a{
	display: inline-block;
	width: 95px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	font-size: 14px;
	margin:0 16px;
	border-radius: 5px;
}
.save{
	background: #81c6ea;
}
.btn_area a.save:hover{
	background: #4192bc;
}
.examine{
	background: #eb5658;
}
.btn_area a.examine:hover{
	background: #ff8789;
}

.daikuan_product{
	padding: 25px 0;
}
.daikuan_product_list li{
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;

}
.daikuan_product_list li label{
	float: left;
	height: 27px;
	width: 100px;
	text-align: right;
	line-height: 27px;
}
.daikuan_product_list li label i{
	color: #920000;
	margin-right: 5px;
}
.daikuan_product_input{
	height: 27px;
	border:1px solid #cccccc;
	width: 260px;
	padding: 0 10px;
	line-height: 27px;
	outline: none;
}
a.configure_btn{
    /*display: inline-block;*/
    float: left;
    border-radius: 3px;
    line-height: 28px;
    padding: 0 10px;
    color: #fff;
    background: #ee6f15;
    border: 1px solid #db6613;
}
a.configure_btn:hover {
    color: #fff;
}
.company_element li{
	width: 100%; /*8-20 修改*/
	height: 29px;
	font-size: 12px;
	color: #666666;
	margin-bottom: 15px;
}
.company_element li label{
	width: 100px;
	height: 29px;
	line-height: 29px;
	display: block;
	float: left;
	text-align: right;
}
.company_element li label i{
	color: #920000;
	margin-right: 5px;
}
.company_element li select{
	height: 27px;
	border:1px solid #cccccc;
	line-height: 27px;
	width: 170px;
	float: left;
}

.daikuan_element li{
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}
.daikuan_element li label{
	float: left;
	display: block;
	width: 100px;
	height: 29px;
	line-height: 29px;
	text-align: right;
}
.daikuan_element li label i{
	color: #920000;
	margin-right: 5px;
}
.daikuan_element li select{
	height: 27px;
	border:1px solid #cccccc;
	line-height: 27px;
	width: 170px;
	float: left;
}
.half{
	width: 50%;
	float: left;
}
.daikuan_element li textarea{
	width: 510px;
	height: 70px;
	border:1px solid #d3d3d3;
	padding: 10px;
	line-height: 160%;
	font-size: 12px;
	color: #666;
	resize:none;
	outline: none;
}
.material{
	font-size: 12px;
	color: #666
}
.material dt{
	float: left;
	width: 100px;
	text-align: right;
	height: 29px;
	line-height: 29px;
}
.material dt i{
	color: #920000;
	margin-right: 5px;
}
.material dd{
	float: left;
	width: 600px;
}
.material dd label{
	float: left;
	height: 29px;
	line-height: 29px;
	display: block;
	width: 25%;
	margin-bottom:5px;
}
.material dd label input[type="checkbox"]{
	float: left;
	margin: 8px 5px 0 0;
}
.material dd label.last{
	width: auto;
}

.cancel_button{
	width: 188px;
	height: 46px;
	display: inline-block;
	background: #787979;
	color: #fff;
	font-size: 18px;
	line-height: 46px;
	border:1px solid #787979;
	border-radius: 3px;
	margin: 0 20px;
	outline: none;
}

.cancel_button:hover{
	background: #939494;
}

.submit_button{
	width: 188px;
	height: 46px;
	display: inline-block;
	background: #eb5658;
	color: #fff;
	font-size: 18px;
	line-height: 46px;
	border:1px solid #eb5658;
	border-radius: 3px;
	outline: none;
}

.submit_button:hover {
	background: #e86d6f;
}

.daikuan_submit_nav li{
	width: 189px;
}

.base_title{
	height: 46px;
	font-size: 14px;
	color: #666;
	line-height: 46px;
}

.company_list{
	padding-top: 20px;
	padding-bottom: 12px;
}
.company_list li{
	height: 33px;
	font-size: 12px;
	color:#666;
	margin-bottom: 25px;
}
.company_list li label{
	display: block;
	float: left;
	width: 100px;
	line-height: 28px;
	text-align: right;
	margin-top: 3px;
}
.company_list li label i{
	color: #920000;
	margin-right: 5px;
}
.message_input{
	width: 260px;
	height: 26px;
	border: 1px solid #cccccc;
	line-height: 26px;
	float: left;
	outline: none;
	padding: 0 5px;
	margin-top: 3px;
}
.input_tip{
	border:1px solid #dddddd;
	background: #f7f7f7;
	padding: 0 5px;
	font-size: 12px;
	height: 33px;
	float: left;
	margin-left: 10px;
	line-height: 33px;
	width: 361px;
	display: none;
}
.company_list li select{
	width: 85px;
	height: 26px;
	border: 1px solid #ccc;
	float: left;
	line-height: 26px;
	margin-right: 8px;
	margin-top: 3px;
}
.project_message_dl{
	margin-bottom: 10px;
	font-size: 12px;
	color: #666;
	line-height: 29px;
}
.project_message_dl dt{
	height: 29px;
	width: 100px;
	text-align: right;
	font-size: 12px;
	color: #666;
	line-height: 29px;
	float: left;
}
.project_listed{
	padding-top: 15px;
}
.project_message_dl dt i{
	color: #920000;
	margin-right: 5px;
}
.project_message_dl dd{
	float: left;
	width: 535px;
}
.project_message_dl dd label{
	float: left;
	height: 29px;
	display: block;
	font-size: 12px;
	color: #666;
	line-height: 29px;
	margin-right: 20px;
}
.project_message_dl dd label input{
	float: left;
	margin: 8px 5px 0 0;
}
.project_input{
	width: 270px;
	padding-top: 0 5px;
	border:1px solid #cccccc;
	float: left;
	line-height: 27px;
	height: 27px;
	font-size: 12px;
	color: #666;
	outline: none;
}
.project_message_dl dd select{
	float: left;
	height: 27px;
	line-height: 27px;
	border:1px solid #ccc;
	width: 85px;
	font-size: 12px;
	color: #666;
	margin-right: 8px;
}
.project_message_dl dd textarea{
	width: 510px;
	height: 90px;
	border:1px solid #ccc;
	padding: 10px;
	font-size: 12px;
	line-height: 160%;
	color: #666;
	outline: none;
	resize:none;
}

.message_list{
	padding-top: 20px;
	padding-bottom: 30px;
}
.message_list li{
	overflow: hidden;
	margin-bottom: 13px;
	font-size: 12px;
	color:#666;
}
.message_list li label{
	display: block;
	float: left;
	width: 100px;
	line-height: 28px;
	text-align: right;
}
.message_list li label i{
	color: #920000;
	margin-right: 5px;
}
.message_list li img{
	float: left;
	display: block;
	border: 1px solid #2f2f2f;
	margin-right: 20px;
}
a.download_btn{
	width: 65px;
	height: 28px;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	color: #666;
	font-size: 12px;
	background: #dddddd url('../images/download_icon.jpg') 15px 9px no-repeat;
	line-height: 28px;
	display: block;
	margin-left: 202px;
	padding-left: 35px;
	margin-bottom: 10px;
	margin-top: 5px;
}
a.download_btn:hover{
	background: #efefef url('../images/download_icon_hover.png') 15px 9px no-repeat;
	border: 1px solid #e46a07;
	color: #e46a07;
}
a.update_button{
	width: 65px;
	height: 28px;
	border: 1px solid #e9db92;
	border-radius: 3px;
	color: #666;
	font-size: 12px;
	background: #faedac url('../images/update_icon.png') 15px 9px no-repeat;
	line-height: 28px;
	display: block;
	margin-left: 202px;
	padding-left: 35px;
}
a.update_button:hover{
	background: #e9db92 url('../images/update_icon_hover.png') 15px 9px no-repeat;
	border: 1px solid #e46a07;
	color: #e46a07;
}
.message_list li img.bussiness_book{
	float: right;
	margin-top: -75px;
}

.update_raea{
	padding: 23px 0 20px 0;
	border-bottom:1px dashed #ed7556;
}
.update_raea ul li a.update_project{
	display: block;
	background: url('../images/update_bg.png') no-repeat;
	width: 91px;
	height: 91px;
	display: none;
}
.update_raea ul li a.update_project:hover{
	background: url('../images/update_bg_hover.png') no-repeat;
}
.update_raea ul{
	padding-left: 60px;
}
.update_raea ul li{
	float: left;
	height: 91px;
	margin-right: 20px;
	margin-bottom: 15px;
}
/*
.update_raea p{
	font-size: 12px;
	color: #666;
	padding-left: 60px;
	*padding-top: 15px;
}*/
.update_raea em{
	font-size: 12px;
	color: #ccc;
	padding-left: 60px;
	*padding-top: 15px;
	font-style: normal;
	margin-bottom: 10px;
	display: block;
}
.update_show{
	float: left;
}
.update_show a{
	display: block;
	float: left;
	width: 88px;
	height: 88px;
	border: 1px dashed #81c6ea;
	border-radius: 3px;
	text-align: center;
	position: relative;
}
.update_show a img{
	margin-top: 25px;
}
.close_update{
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url('../images/close_update.png') no-repeat;
}
.update_show span{
	font-size: 12px;
	color: #666;
	display: block;
	margin-left: 110px;
	line-height: 22px;
}
.mt20{
	margin-top: 20px;
}
.financing_intention{
	display: none;
}
.listed, .listed2, .listed3, .listed4, .listed5{
	display: none;
}
.input_focus{
	border:1px solid #ee6f15;
	color: #666;
}
.input_normal{
	border:1px solid #ccc;
	color: #666;
}
.input_error{
	border:1px solid #920000;
	color: #666;
}
.message_label_list li input.input_focus{
	border:1px solid #ee6f15;
	color: #666;
}
.message_label_list li input.input_error{
	border:1px solid #920000;
	color: #666;
}
.daikuan_nav li{
	width: 252px;
}
.password_list li input.input_focus{
	border:1px solid #ee6f15;
	color: #666;
}
.password_list li input.input_error{
	border:1px solid #920000;
	color: #666;
}
.exclamation{
	line-height: 24px;
	color: #b90000;
	font-size: 12px;
	padding-right: 10px;
	margin-left: 10px;
	float: left;
	height: 24px;
	margin-top: 2px;
}
.title_exclamation{
	color: #ee5121 !important;
        padding-bottom: 5px;
}
.message_label_list li p.exclamation{
        line-height: 24px;
	color: #b90000;
        padding-right:5px;
}
.list-mail ul{
 	border: 1px solid #aaa;
 	line-height: 24px;
 	padding: 6px;
 	background: #fff;
 	z-index: 100;
}
.list-mail li{
	cursor: pointer;
	padding: 2px 3px;
	margin-bottom: 2px;
	font-size: 14px;
}
.list-mail .name{
	color: #982114;
}
.list-mail .hover{
	background: #fefacf;
}
.list-mail .select{
	background: #dedaae;
}

/*2015-8-5 newAdd*/
a.update_button2{
	width: 85px;
	height: 28px;
	border: 1px solid #e9db92;
	border-radius: 3px;
	color: #666;
	font-size: 12px;
	background: #faedac url('../images/update_icon.png') 15px 9px no-repeat;
	line-height: 28px;
	display: block;
	margin-left: 202px;
	padding-left: 35px;
	margin-top: 30px;
}
.company_lsit li p.exclamation{
	margin-left: 0;
	width: auto
}
.project_list{
	display: none;
}


/*8-18 add new*/
.look_popup{
	border:6px solid #ffcaa6;
	background: #fff;
	width: 213px;
	height: 202px;
	position: fixed;
	z-index: 100;
	padding: 10px;
	text-align: left;
	display: none;
}

.look_popup_title{
	border-bottom: 1px dashed #df3e44;
	font-size: 14px;
	color: #b2060c;
	padding-left: 5px;
	padding-bottom: 5px;
	overflow: hidden;
}
.look_popup_title span{
	float: left;
}

a.close_look{
	float: right;
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/close_detail.jpg') no-repeat;
}
.look_popup ul{
	padding-top: 15px;
}
.look_popup ul li{
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #666666;
	padding: 0 10px;
	margin-bottom: 5px;
}
.look_popup ul li i{
	color: #920000;
	font-style: normal;
}

.member_tabbd table td.blue{
	color: #2b51ce;
}
a.submit_daikuan_btn{
	float: right;
	display: block;
	width: 85px;
	height: 32px;
	color: #fff;
	font-size: 12px;
	background: #ee6f15 url('../images/submit_daikuan_icon.png') 7px 7px no-repeat;
	padding-left: 33px;
	line-height: 32px;
	border-radius: 5px;
}


/*8-20 addNew*/
.company_element_input{
	float: left;
	height: 27px;
	line-height: 27px;
	border:1px solid #cccccc;
	font-size: 12px;
	color: #666;
	padding:0 10px;
	width: 148px;
}

.company_element li span, .daikuan_element li span{
	height: 29px;
	line-height: 29px;
	float: left;
	margin-left: 5px;
}

.daikuan_element li.h29{
	height: 29px;
}

.exclamation2{
	margin-left: 100px;
}

.exclamation3{
	float: right;
}

.danbao_box ul li select{
	width: 100%
}


/*2015-9-6 add*/
.message_label_list li select.danbao{
	width: 78px;
}
.message_label_list li select.huji{
	width: 138px;
}
.message_label_list li .wid{
	width: 350px;
	float: left;
}
.message_label_list li label.selectKind{
	width: auto;
	height: auto;
	margin-right: 10px;
}
.message_label_list li label.selectKind input[type='checkbox']{
	width: auto;
	height: auto;
	margin-top:13px;
}

/*9-10 add*/
a.download_icon{
	display: inline-block;
	margin: 5px auto;
	width: 55px;
	height: 22px;
	border: 1px solid #de630a;
	background: #ef7013 url('../images/download_icon_02.png') 13px 7px no-repeat;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
	line-height: 22px;
	padding-left: 15px;
	margin-right: 15px;
	text-align: center;
}
.member_tabhd ul li a{
	color: #fff;
}

/*9-19 add*/
.upload {
    position: relative;
    width: 100px;
    height: 28px;
    border: 1px solid #e9db92;
    overflow: hidden;
    float: left;
}

.message_list li .upload label {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #faedac;
    text-align: center;
    font: 12px/28px '\5b8b\4f53', sans-serif;
    color: #7f743d;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}

.upload .icon-upload {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 12px;
    margin-top: -2px;
    background: url("../images/update_icon.png") no-repeat;
}

.upload input[type="file"] {
    opacity: 0;
	display:none;
    filter: alpha(opacity=0);
}
.upload2{
	width: 91px;
	height: 91px;
	border:0;
	display: none;
}
.upload2 label{
	width: 91px;
	height: 91px;
	background: url('../images/update_bg.png') no-repeat;
	display: block;
	cursor:pointer
}

.config-error{
	line-height: 24px;
	color: #b90000;
	font-size: 12px;
	padding-left: 30px;
	padding-right: 10px;
	margin-left: 10px;
	background:#ffebeb url('../images/error_icon.png') 5px 3px no-repeat; /*8-20 add*/
	display: none;
	float: left;
	border:1px solid #ee5121;
	height: 24px;
	margin-top: 2px;
}
