@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-08-26 14:01:35
 * @version $Id$
 */


.yirongfu_right{
	width: 325px;
	float: right;
}

.yirongfu_img{
	display: block;
	margin: 0 auto 20px auto; 
}

.right_list{
	border: 1px solid #ddd;
	width: 323px;
	background: #fff;
	margin-bottom: 20px;
}
.right_list_title{
	border-bottom: 1px solid #ddd;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #333333;
	padding:0 15px;
	font-weight: bold;
}
.right_list ul{
	padding: 0 10px;
}

.focus_list li{
	border-bottom: 1px solid #eeeeee;
	padding: 10px 15px 10px 70px;
}

.focus_list li b {
	font-size: 14px;
	color: #333333;
	display: block;
	float: left;
}
.focus_list li b a{
	color: #333;
}
.focus_list li p{
	color: #666666;
	font-size:12px;
	line-height: 22px;
	clear: both;
	float: left;
}
.focus_list li div{
	background: #eeeeee;
	padding: 5px 0;
	width: 90px;
	background: #eeeeee;
	text-align: center;
	font-size: 12px;
	color: #999999;
	float: right;
	margin-top: -20px;
}
.focus_list li div strong{
	display: block;
	color: #333;
	font-size: 16px;
	margin-top: 5px;
}
.focus_one{
	background: url('../styImg/focus_one.png') 10px 15px no-repeat;
}
.focus_two{
	background: url('../styImg/focus_two.png') 10px 15px no-repeat;
}
.focus_three{
	background: url('../styImg/focus_three.png') 10px 15px no-repeat;
}
.focus_four{
	background: url('../styImg/focus_four.png') 10px 15px no-repeat;
}
.focus_five{
	background: url('../styImg/focus_five.png') 10px 15px no-repeat;
}

.new_list li{
	padding: 10px 0;
}

.new_list li b {
	font-size: 14px;
	color: #333333;
	display: block;
	margin-bottom: 3px;
}
.new_list li b a{
	color: #333;
}
.new_list li p{
	color: #666666;
	font-size:12px;
	line-height: 22px;
}
.new_list li img{
	float: left;
	margin: 0 20px 0 10px;
	width: 52px;
}

.active_list li{
	padding: 10px 0;
}
.active_list li b {
	font-size: 14px;
	color: #333333;
	display: block;
	margin-bottom: 3px;
}
.active_list li b a{
	color: #333;
}
.active_list li b span{
	color: #909090;
	font-weight: normal;
	font-size: 12px;
}
.active_list li p{
	color: #666666;
	font-size:12px;
	line-height: 22px;
}
.active_list li img{
	float: left;
	margin: 0 20px 0 10px;
	width: 52px;
}

.orange{
	color: #ee6f15;
}
.violet{
	color: #6f7ec2
}


/*new page*/
.new_page{
	height: 30px;
	text-align: center;
	padding: 15px 0;
}
.new_page a{
	display: inline-block;
	width: 28px;
	height: 28px;
	border: 1px solid #dddddd;
	background: #fff;
	text-align: center;
	font-size: 12px;
	color: #666666;
	line-height: 28px;
}
.new_page a:hover, .new_page a.cur{
	border: 1px solid #ee6f15;
	color: #ee6f15;
}
.new_page a.prev, .new_page a.next{
	width: auto;
	padding: 0 10px;
}
.new_page span{
	color: #666;
	font-size: 12px;
}
.page_input{
	height: 28px;
	border: 1px solid #dddddd;
	width: 38px;
	text-align: center;
	font-size: 12px;
	color: #666;
	margin: 0 5px;
	background: #fff;
}
.confrim_page{
	width: 58px;
	height: 28px;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	color: #666;
	background: #fff;
	line-height: 28px;
	outline: none;
}